*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
div.brick{
    background-color: blue;
}
div.coin{
    background: url('img/coin_001.gif');
    background-size: cover;
    background-position: center;
}
